{% extends 'BlogServiceBundle:Layout:base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block content -%}
    <h1>Редактировать запись</h1>

    {{ form_start(edit_form) }}

    {{ form_widget(edit_form) }}

        <button type="submit" class="btn btn-success" name="form[submit]">Обновить запись</button>
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-warning" name="form[submit]">Удалить запись</button>
        <a class="btn btn-default" href="{{ path('profile_blog') }}">Вернуться к списку</a>
    </div>
    {{ form_end(delete_form) }}

{% endblock %}
