{% extends 'BlogServiceBundle:Layout:base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/skins/sonata/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/markdown/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/html/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/textile/style.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/html/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/textile/set.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content -%}
    <h1>Редактировать запись</h1>

    {{ form_start(edit_form) }}

    {{ form_widget(edit_form) }}
    <p></p>
    <div class="row col-sm-12">
        <button type="submit" class="btn btn-success" name="form[submit]">Обновить запись</button>
    </div>

    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
    <p></p>
    <div class="row col-md-12">
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-warning" name="form[submit]">Удалить запись</button>
            <a class="btn btn-default" href="{{ path('profile_blog') }}">Вернуться к списку</a>
        </div>
    </div>

    {{ form_end(delete_form) }}

{% endblock %}
